@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-color: skyblue;
     font-family: "Lato", sans-serif;
}

h1{
    text-align: center;
    margin: 30px;
    color: aliceblue;
}

& .mae{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    & .visor{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        height: 70px;
        border-radius: 10px 10px 0 0;
        margin-bottom: 2px;
        background-color: white;
            & #res{
                font-size: 32px;
            }

            & p{
                margin-right:10px ;
                
            }

    }

    
    & .operacoes button{
        width: 80px;
        height: 32px;
        margin-bottom: 10px;
        margin-top: 10px;
      color: white;
        background-color: blueviolet;
        border: none;
        border-radius: 10px;
    }

    & .operacoes button:hover{
        background-color: purple;
    }


    & .baixera{
        display: flex;
        gap: 4px;
    }

          #igual{
            height: 190px;
            width: 80px;
            background-color: orange;
            color: white;
            border: none;
            border-radius: 10px;
        }

        #igual:hover{
            background-color: orangered;
        }

    & .baixera #numeros button{
        width: 80px;
        height: 40px;
        margin-bottom: 10px;
        background-color: crimson;
        color: white;
        border: none;
        border-radius: 10px;
    }

    & .baixera #numeros button:hover{
        background-color: fuchsia ;
    }

     #zero{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 122px;
        height: 40px;
    }



    & .capa{
         border: 1px solid  transparent;
            padding: 30px;
            background-color: darkgoldenrod;
        border-radius: 10px;
    }
}

#delete {
    width: 30px;
    margin-bottom: 4px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    background-color: coral;
    color: #fff;
}

#apagar{
    display: flex;
    justify-content: center;
    gap: 10px;

    & #ponto{
    width: 30px;
    margin-bottom: 4px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    background-color: coral;
    color: #fff;
    }

    & #ponto:hover{
    background-color: darkkhaki;
}
}





#delete:hover{
    background-color: burlywood;
}